{{> navbar}}

<!-- Edit existing comment form -->
<section class="bg-dark text-light py-5">
  <div class="container">
    <h1>Editar comentario de {{game.title}}</h1>

    <form action="/detail/{{game._id}}/comment/{{comment._id}}/edit" method="POST">
      <div class="mb-3">
        <label for="userName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="userName" value="{{comment.user}}" disabled>
      </div>

      <div class="mb-3">
        <label class="form-label d-block">Valoración</label>
        <div class="rating-input d-flex flex-row-reverse justify-content-end"> 
            <input type="radio" name="rating-{{comment._id}}" id="star5-{{comment._id}}" value="5" {{comment.starsChecked.5}}><label for="star5-{{comment._id}}">★</label>
            <input type="radio" name="rating-{{comment._id}}" id="star4-{{comment._id}}" value="4" {{comment.starsChecked.4}}><label for="star4-{{comment._id}}">★</label>
            <input type="radio" name="rating-{{comment._id}}" id="star3-{{comment._id}}" value="3" {{comment.starsChecked.3}}><label for="star3-{{comment._id}}">★</label>
            <input type="radio" name="rating-{{comment._id}}" id="star2-{{comment._id}}" value="2" {{comment.starsChecked.2}}><label for="star2-{{comment._id}}">★</label>
            <input type="radio" name="rating-{{comment._id}}" id="star1-{{comment._id}}" value="1" {{comment.starsChecked.1}}><label for="star1-{{comment._id}}">★</label>
          </div>
      </div>

      <div class="mb-3">
        <label for="reviewText" class="form-label">Comentario</label>
        <textarea class="form-control" id="reviewText" name="reviewText" rows="4" maxlength="500">{{comment.text}}</textarea>
      </div>


      <button class="btn btn-gradient" type="submit">Guardar cambios</button>
      <a href="/detail/{{game._id}}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</section>

{{> footer}}
