<!-- FOOTER -->
<footer class="b-gradient text-dark pt-5 pb-4 mt-0">
    <div class="container text-center text-md-start">
        <div class="row">

            <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
                <h5 class="text-uppercase fw-bold mb-3">Catálogo Videojuegos</h5>
                <p>Neville Gil Ortiz<br>
                    Lucca Manfredotti García<br>
                    Pablo Villamayor Iglesias<br>
                </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h5 class="text-uppercase fw-bold mb-3">Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-decoration-none text-dark">Inicio</a></li>
                    <li><a href="/create" class="text-decoration-none text-dark">Añadir Videojuego</a></li>
                    <li><a href="/#catalogo" class="text-decoration-none text-dark">Catálogo</a></li>
                </ul>
            </div>

        </div>

        <div class="text-center py-3 border-top border-secondary">
            <small>© 2025 Catálogo Videojuegos | Todos los derechos reservados</small>
        </div>
    </div>
</footer>