<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- We call bootstrap library-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<body>

        <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold" href="#">Catálogo Videojuegos</a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-2"><a class="nav-link active" href="/"><i class="bi bi-house"></i> Inicio</a>
                    </li>
                    
                    <li class="nav-item mx-2"><a class="nav-link" href="/create"><i class="bi bi-controller"></i> Añadir
                            Videojuego</a></li>
                </ul>
                    <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar videojuegos..." aria-label="Buscar">
                    <button class="btn btn-gradient" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- HERO -->
        <section class="hero d-flex align-items-center justify-content-center text-center text-white">
            <div class="container">
                <h1 class="display-3 fw-bold">Catálogo de Videojuegos</h1>
                <p class="lead mb-4">Explora los mejores títulos, descubre novedades y encuentra tu juego favorito.</p>
                <a href="#catalogo" class="scroll-down d-flex flex-column align-items-center text-decoration-none text-light">
                    <img src="Images/arrow.png" alt="Flecha abajo" class="arrow" />
                </a>            
            </div>
        </section>

    <!-- CONTENT -->
    <section class="py-5 bg-dark text-light">
        <div class="container">
            <div class="row g-4">

                <div class="col-md-9">

                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h2 class="fw-bold mb-1" id="catalogo">Nuestro Catálogo</h2>
                            <div class="decor-bar"></div>
                        </div>
                        <a href="/create" class="btn btn-gradient">
                            <i class="bi bi-plus-square"></i> Añadir nuevo videojuego
                        </a>
                    </div>

                    <br>

                    <div class="row g-4">


                        <!-- Card 1 -->
                        <div class="col-md-6 col-lg-4">
                            <div class="card d-flex flex-column justify-content-between">
                                <img src="Images/spiderman.avif" class="card-img-top" alt="...">
                                <div class="card-body card-body2 d-flex flex-column">
                                    <div>
                                        <h5 class="card-title">Spider-Man (Miles Morales)</h5>
                                        <h6 class="fw-bold text-success mb-3">59,99</h6>
                                        <p class="card-text">
                                            <span class="badge text-bg-secondary me-1">Sandbox</span>
                                            <span class="badge text-bg-secondary me-1">Creativo</span>
                                        </p>
                                    </div>
                                    <a href="/detail" class="btn btn-gradient">Más Información </a>
                                </div>
                            </div>
                        </div>

                    {{#videogamesAct}}
                    <div class="col-md-6 col-lg-4">
                        <div class="card d-flex flex-column justify-content-between">
                            <img src="/uploads/{{imageFilename}}" class="card-img-top" alt="{{title}}">
                            <div class="card-body card-body2 d-flex flex-column">
                                <h5 class="card-title">{{title}}</h5>
                                <h6 class="fw-bold text-success mb-3">{{precio}} €</h6>
                                <p class="card-text">
                                    {{#categorias}}
                                    <span class="badge text-bg-secondary me-1">{{.}}</span>
                                    {{/categorias}}
                                </p>
                                <a href="/post/{{_id}}" class="btn btn-gradient mt-auto">Más Información</a>
                            </div>
                        </div>
                    </div>
                    {{/videogamesAct}}
                         {{^videogamesAct}}
                            <p>No hay videojuegos disponibles todavía.</p>
                        {{/videogamesAct}}
    

                       



                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link">Antes</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Después</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>


                <div class="col-md-3">

                    <h4 class="fw-bold text-start">Información</h4>
                    <div class="decor-bar mt-2"></div>
                    <p class="mt-3">En nuestro Catálogo de Videojuegos encontrarás una selección cuidadosamente organizada
                        de títulos para todas las
                        plataformas y géneros. Nuestro objetivo es ofrecerte información clara y actualizada sobre los
                        videojuegos más
                        populares, clásicos imprescindibles y novedades del mercado, para que puedas tomar decisiones
                        informadas antes de jugar
                        o comprar.</p><br>

                    <h4 class="fw-bold text-start">Categorías de Videojuegos</h4>
                    <div class="decor-bar mt-2"></div><br>
                    <div class="card-body">
                        <div class="d-flex flex-wrap gap-2">
                            <span class="badge bg-primary">Sandbox</span>
                            <span class="badge bg-success">Creativo</span>
                            <span class="badge bg-warning text-dark">MOBA</span>
                            <span class="badge bg-info text-dark">Estrategia</span>
                            <span class="badge bg-secondary">Supervivencia</span>
                            <span class="badge bg-danger">Shooter</span>
                            <span class="badge bg-gradient">Acción</span>
                            <span class="badge bg-light text-dark">Mundo Abierto</span>
                            <span class="badge bg-success">RPG</span>
                            <span class="badge bg-primary">Carreras</span>
                            <span class="badge bg-warning text-dark">Simulación</span>
                            <span class="badge bg-danger">Bélico</span>
                        </div>
                    </div><br><br>



                    <h4 class="fw-bold text-start">Populares</h4>
                    <div class="decor-bar mt-2"></div><br>


                <ol class="list-group list-group-numbered list-group-flush bg-transparent">
                    <li class="list-group-item bg-transparent border-0 text-white">
                        <a href="/detail" class="text-white text-decoration-none">Elden Ring</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 text-white">
                        <a href="/detail" class="text-white text-decoration-none">GTA V</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 text-white">
                        <a href="/detail" class="text-white text-decoration-none">Cyberpunk 2077</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 text-white">
                        <a href="/detail" class="text-white text-decoration-none">The Witcher 3</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 text-white">
                        <a href="/detail" class="text-white text-decoration-none">Minecraft</a>
                    </li>
                </ol>
                <br>


                    <h4 class="fw-bold text-start">Contenido Sugerido</h4>
                    <div class="decor-bar mt-2"></div><br>

                    <div class="card b-gradient mb-3">
                        <img src="Images/spiderman.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Recien Salido</h5>
                            <p class="card-text">Echa un vistazo a este nuevo juego, revisa toda su información así como sus
                                valoraciones.</p>
                            <a href="/detail" class="card-text"><small class="text-body-secondary">Ver Videojuego <i
                                        class="bi bi-box-arrow-down-right"></i></small></a>
                        </div>
                    </div>
                    <br>
                    <h4 class="fw-bold text-start">Sobre Nosotros</h4>
                    <div class="decor-bar mt-2"></div><br>
                    <img src="Images/info.png" class="rounded mx-auto d-block" width="100%" alt="Pikachu" />


    </section>

        <!-- FOOTER -->
    <footer class="b-gradient text-dark pt-5 pb-4 mt-0">
        <div class="container text-center text-md-start">
            <div class="row">
    
                <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h5 class="text-uppercase fw-bold mb-3">Catálogo Videojuegos</h5>
                    <p>Neville Gil Ortiz<br>
                        Lucca Manfredotti García<br>
                        Pablo Villamayor Iglesias<br>
                    </p>
                </div>
    
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h5 class="text-uppercase fw-bold mb-3">Enlaces</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-decoration-none text-dark">Inicio</a></li>
                        <li><a href="/create" class="text-decoration-none text-dark">Añadir Videojuego</a></li>
                        <li><a href="/#catalogo" class="text-decoration-none text-dark">Catálogo</a></li>
                      </ul>
                </div>
    
            </div>
    
            <div class="text-center py-3 border-top border-secondary">
                <small>© 2025 Catálogo Videojuegos | Todos los derechos reservados</small>
            </div>
        </div>
    </footer>
   
</body>

</html>